spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

aws:
  s3:
    bucket: triagain-verifications
    region: ap-northeast-2

logging:
  level:
    root: WARN
    com.triagain: INFO
